src/main/mule/water_mark.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="86e883a1-49ae-42f9-8a6a-014d3f690b1a" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="e948d723-b663-49d0-a1b3-a25ad8881e88" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Harley1037651@" database="watermark" />
	</db:config>
	<flow name="water_markFlow" doc:id="fc26ff35-3c48-4373-92ff-2f4cee1c7145" >
		<db:listener doc:name="On Table Row" doc:id="31c03354-6cff-4016-bd32-09bae5dce59d" config-ref="Database_Config" table="watermark" watermarkColumn="cust_name" idColumn="cust_id">
			<scheduling-strategy >
				<fixed-frequency frequency="10"/>
			</scheduling-strategy>
		</db:listener>
		<logger level="INFO" doc:name="Logger" doc:id="19e496f7-6b54-42bc-b8bd-d203580c79ff" message="#[payload]"/>
	</flow>
</mule>
